<a href="https://colab.research.google.com/github/Manu-Anand/tf_certfication/blob/master/10BE5_Programming_Pandas_Max_value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = int("a5", 16)
print(x)

y = 0xa5
print(y)

165
165

In [2]:
import decimal
import pandas as pd
import numpy as np
import math

def useNumpy(df):
  # Since the dataframe has empty string ('') within it, numerical max can not be found. 
  # First repace it with NaN
  df.replace(r'^\s*$', np.nan, regex=True, inplace=True)
  # The output shows the empty string replaced with NaN
  print('\nPrints dataframe with empty string replaced with NaN\n\n',df)
  # Now to print the max of first column, use numpy nanmax function that ignores NaN in the column
  # And uses only numeric values
  print('\n   Printing max values:\n')
  print('\n   Max of 2017  :  ',np.nanmax(df['2017'].values))
  # Second Column max
  print('\n   Max of 2018  :  ', np.nanmax(df['2018'].values))
  # The max of two columns in the Dataframe
  print('\n   Max of 2017 and 2018 :  ', np.nanmax(df.values))
def usePandas(df):
  # decimal.Decimal('NaN')] is not supported and it will return False on df.isnull() method (see below)
  # The correct usage if we want 'NaN' is 'float(decimal.Decimal('NaN'))' which returns a 'NaN' value.
  # Note that below function did not return 'True' for NaN
  # Therefore we can use numpy 'nanmax' function here
  print('\nPrints NaN is real NaN or not:\n\n', df.isnull())

field = ["A","B", "C", "D"]
fieldData = [
             [decimal.Decimal('6025'), decimal.Decimal('9135')],
             [decimal.Decimal('302276'), decimal.Decimal('NaN')],
             [decimal.Decimal('200'), decimal.Decimal('-3000')],
             [decimal.Decimal('3500'), '']
]
df = pd.DataFrame(fieldData, index = [field], columns = ['2017', '2018'])
# Prints the value if dataframe
print(' Prints Original Data Frame:\n\n', df)
usePandas(df)
useNumpy(df)

 Prints Original Data Frame:

      2017   2018
A    6025   9135
B  302276    NaN
C     200  -3000
D    3500

Prints NaN is real NaN or not:

     2017   2018
A  False  False
B  False  False
C  False  False
D  False  False

Prints dataframe with empty string replaced with NaN

      2017   2018
A    6025   9135
B  302276    NaN
C     200  -3000
D    3500    NaN

   Printing max values:


   Max of 2017  :   302276

   Max of 2018  :   9135

   Max of 2017 and 2018 :   302276